html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color:#0D0D0D;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: none;
    color: white;
    font-size: 1.5vh;
    width: fit-content;
    padding: 10px;
    margin: 20px;
}

button:hover {
    border: 1px solid #05D8E8;
    cursor: pointer;
    color: #05D8E8;
}


footer {
    background-color: #05BFCD;
    text-align: center;
}

footer p, footer i {
    margin: 0;
    padding: 30px 10px;
    color: white;
    font-size: 2vh;
}

footer i.fa-angle-up {
    font-size: 5vh;
}

footer i.fa-angle-up:hover {
    color: #0D0D0D;
    cursor: pointer;
}


footer #logo-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: white;
    font-size: xx-large;
    font-size: 6vh;

}
h2 {
    text-align: center;
    color: white;
    font-size: 4vh;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #05D8E8;
}

h3 {
    font-size: 2.5vh;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

h4 {
    font-size: 2vh;

    padding: 0;
    margin: 0;
}

p {
    font-size: 1.5vh;
}

#canvas1 {
    position: absolute;
    background: #0D0D0D;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
}

#header-section {
    box-sizing: border-box; padding: 10vh 15vw; margin: 0; 
    /* background-color: #0D0D0D; */
    color: white;
    width: 100vw; height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}


#header-text{
    align-self: center;
    /* z-index: 1; */
}

#header-text h1 {
    font-size: 6vh;
    margin-top: 0;    
}

#header-text a, #header-text p{
    color: #05D8E8; text-decoration: none; font-size: 2vh;
}

#header-text i {
    color: white;
    font-size: 4vh;
    padding-right: 40px;
}

#header-section i:hover {
    color: #05BFCD;
    cursor: pointer;
}

#avatar {
    /* z-index: 1; */
    align-self: center;
    height: 33vh;
    width: auto;
}

#go-to-projects-arrow {
    font-size: 5vh;
    position: absolute;
    left: 48.5%;
    bottom: 10%;
}

#tech-stack-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#projects-section {
    box-sizing: border-box; padding: 10vh 15vw; margin: 0; 
    width: 100vw; background-color: #353535;
}

#courses-section{
    box-sizing: border-box; padding: 10vh 15vw; margin: 0; 
    color: white;
    width: 100vw; background-color:#0D0D0D; 
}

#projects-section h1, #courses-section h1{
    margin: 0;padding-bottom: 10px;     
    border-bottom: 2px solid #05D8E8;
    color: white;
}

#projects-grid, #courses-grid{
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    margin: 100px 0;
}


.tile {
    border: 1px solid white;
    box-shadow: 5px 10px 10px #0D0D0D;
    width: 45%;
    height: 20vmax;
    padding: 0px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    position: relative;
}


.project-description {
    box-sizing: border-box;
    background-color:rgb(13, 13, 13, 0.95) ;
    color: white;
    width:100%;
    height: 100%;
    padding: 20px;
    margin: 0 ;
    position:absolute;
    top:0; left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-highlight {
    color:#05D8E8;
}

.img-miniature {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.project-links-section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

#tech-stack-section {
    background-color: #05BFCD;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tech-stack-item i {
    font-size: 6vh;
    padding: 15px;
    color: #0D0D0D;
}

@media only screen and (max-width: 992px) {
    #header-section {
      /* background-color: lightblue; */
      flex-direction: column;
      justify-content: space-between;
    }
    .tile {
        width: 100%;
        flex-direction: column;

    }
    .tile {
        height: 30vh;
    }
    #go-to-projects-arrow {
        position: static;
        margin: 10px auto;

    }
  }
