:root {
    --highlight: #05D8E8;
    --dark: #0D0D0D;
  }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding:10px;
    font-size: 1.5vh;
    color: white;
    box-shadow: none;
}

.project-links-section button {
    background-color: var(--dark);
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px;
}

.project-links-section button:hover {
    border: 1px solid var(--highlight);
    cursor: pointer;
    color: var(--highlight);
}


footer {
    background-color: var(--highlight);
    text-align: center;
}

footer p, footer i {
    margin: 0;
    padding: 30px 10px;
    color: white;
    font-size: 2vh;
}

footer i.fa-angle-up {
    font-size: 5vh;
}

footer i.fa-angle-up:hover {
    color: var(--dark);
    cursor: pointer;
}


footer #logo-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: white;
    font-size: xx-large;
    font-size: 6vh;

}
h2 {
    text-align: center;
    color: white;
    font-size: 4vh;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #05D8E8;
}

h3 {
    font-size: 2.5vh;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

h4 {
    font-size: 2vh;

    padding: 0;
    margin: 0;
}

p {
    font-size: 1.5vh;
}

#canvas1 {
    position: absolute;
    background: var(--dark);
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
}

#header-section {
    box-sizing: border-box; padding: 10vh 15vw; margin: 0; 
    color: white;
    width: 100vw; height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}


#header-text{
    align-self: center;
    /* z-index: 1; */
}

#header-text h1 {
    font-size: 6vh;
    margin-top: 0;    
}

#header-text a, #header-text p{
    color: var(--highlight); 
    text-decoration: none; 
    font-size: 2vh;
}

#header-text i {
    color: white;
    font-size: 4vh;
    padding-right: 40px;
}

#header-section i:hover {
    color: var(--highlight);
    cursor: pointer;
}

#avatar {
    /* z-index: 1; */
    align-self: center;
    height: 33vh;
    width: auto;
}

#go-to-projects-arrow {
    font-size: 5vh;
    position: absolute;
    left: 48.5%;
    bottom: 10%;
}

#tech-stack-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#projects-section {
    box-sizing: border-box; padding: 10vh 15vw; margin: 0; 
    width: 100vw; background-color: #353535;
}

#courses-section{
    box-sizing: border-box; padding: 10vh 15vw; margin: 0; 
    color: white;
    width: 100vw; background-color:var(--dark);
}

#projects-section h1, #courses-section h1{
    margin: 0;padding-bottom: 10px;     
    border-bottom: 2px solid var(--highlight);
    color: white;
}

#projects-grid, #courses-grid{
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    margin: 100px 0;
}


.tile {
    border: 1px solid white;
    box-shadow: 5px 10px 10px var(--dark);
    width: 45%;
    height: 20vmax;
    padding: 0px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    position: relative;
}


.project-description {
    box-sizing: border-box;
    background-color:rgb(13, 13, 13, 0.95) ;
    color: white;
    width:100%;
    height: 100%;
    padding: 20px;
    margin: 0 ;
    position:absolute;
    top:0; left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-highlight {
    color:var(--highlight);
}

.img-miniature {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.project-links-section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

#tech-stack-section {
    background-color: var(--highlight);
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tech-stack-item i {
    font-size: 6vh;
    padding: 15px;
    color: #0D0D0D;
}

@media only screen and (max-width: 992px) {
    #header-section {
      flex-direction: column;
      justify-content: space-between;
    }
    .tile {
        width: 100%;
        flex-direction: column;

    }
    .tile {
        height: 30vh;
    }
    #go-to-projects-arrow {
        position: static;
        margin: 10px auto;

    }
  }


  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--dark); /* Fallback color */
    background-color: rgba(13,13,13,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgba(13,13,13,0.1);
    margin: 10vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1vmax;
    width: 80vw; /* Could be more or less, depending on screen size */
    height: fit-content;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .hidden {
    visibility: hidden;
  }

  .modal-header-div {
    padding: 10vh;
    max-width: fit-content;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .modal-header {
    font-size: 4min;
    cursor: pointer;
  }
  .modal-header:hover {
    color: var(--highlight)
  }

  .download-btn {
    margin:0;
    background-color: var(--highlight);
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 0;
  }

  .download-btn a:hover {
    color: var(--dark);
  }

  .download-btn span {
    vertical-align:bottom;
  }

  #resumeBtn,#aboutBtn{
    cursor: pointer;
  }

 .notDisplayed {
    display:none;
  }

